/target/
!.mvn/wrapper/maven-wrapper.jar
/latexProject

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn
.idea
mvnw.cmd
mvnw
programDane
backupDirectory.txt
### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
