.dark
{
    color:red;
}
.hard
{
    color: darkorange;
}
.medium
{
    color: yellow;
}
.easy
{
    color: aqua;
}

.veryEasy
{
    color: chartreuse;
}
td{
    font-weight: bold ;
    text-align: center;
}
th
{
    text-align: center;
}

.darkQ
{
    background-color:red;
}
.hardQ
{
    background-color: darkorange;
}
.mediumQ
{
    background-color: yellow;
}
.easyQ
{
    background-color: aqua;
}

.veryEasyQ
{
    background-color: chartreuse;
}