body
{
    background-color: black;
    color: wheat;

}
/*button, input[type=submit]*/
/*{*/
/*    background-color: darkcyan;*/
/*}*/

caption
{
    color: brown;
}

a{
    color: darkgray;
}
a:hover
{
    color: yellow;
}
th
{
    background-color:cornflowerblue;
}
td{
    color: black;

}
tr{
    background-color: cornsilk;
}


table a:hover
{
    color: gold;
}

table a
{
    font-weight: bold;
    color: slateblue;
}
#toDelete{
    text-decoration: none;
}

table a:visited
{
    color: slateblue;
    text-decoration: none;
}

tr:hover
{
    background-color: brown;
}
.problem a
{
    color: aliceblue;
}
.lastProblem a
{
    color: cadetblue;
}
.btn-lg
{
    background-color: darkslategray;

    border-color: red;
}

.btn:hover
{
    color: gold
}

.form-control
{
    background-color: blueviolet;
    color: white;
    font-size: large;

}
.form-control:focus
{
    border-color: deepskyblue;
}

.form-control[disabled], fieldset[disabled] .form-control
{
    background-color:cadetblue;
}
pre
{
    color: darkcyan;
    background-color: black;
}

