.dark
{
    background-color:red;
}
.hard
{
    background-color: darkorange;
}
.medium
{
    background-color: yellow;
}
.easy
{
    background-color: aqua;
}



.veryEasy
{
    background-color: chartreuse;
}
td{
    font-weight: bold ;
    text-align: center;
}
th
{
    text-align: center;
}