pre
{
    text-align: left;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    border: none;

    font-size: 90%;
    padding-left: 25%;
}

pre.preLeft
{
    text-align: left;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    border: none;
    background-color: black;
    color: aliceblue;
    font-size: 90%;
    padding-left: unset;
}