table tr td
{
    text-align: center;
    size: 200px;
}
table tr td:hover
{
    background-color: antiquewhite;
}
table
{
    margin-left: auto;
    margin-right:auto;

    
}


p span
{
    font-weight: normal;
    color: cornflowerblue;
}


