<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Julian</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" th:href="@{/css/darkMode.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/uiToolTip.css}" type="text/css">
    <style>
        #show
        {
            float: right;
            margin-right: 1%;
            color: darkorchid;
            font-weight: bold;
        }
        h1,h2,h3,h4
        {
            text-align: center;

        }
        h1{
            color: darkgrey;
        }

        #dol
        {
            margin-bottom: 60px;
        }
        #sectionLabel
        {
            text-align: left;
            width: 100%;

        }
        #btnSurroundWithCode{
            color: black;
        }

    </style>

</head>
<body>
<a id="show" th:href="@{/showLast}">ostanio dodane</a>
<p>Rozmiar powtórzenia:<span th:text="${repetitionSize}"></span></p>
<h1 th:text="${pytanie.getPowtorzenie().getNazwa()+' '+pytanie.getPowtorzenie().getNumer()}"></h1>
<h4 style=>REJESTRACJA PYTANIA</h4>
<div class="container">
    <form class="form-horizontal" th:action="@{/pytanieAdd}" th:method="post" enctype="multipart/form-data" th:object="${pytanie}">

        <div th:class="form-group">
            <label th:class="control-label">Pytanie</label>
            <input  accesskey="q" class="form-control question" type="text" th:field="*{question}"/>
        </div>

        <div class="form-group shadow-textarea">
            <label for="odp">Odpowiedz</label>
            <button  type='button'  id="btnSurroundWithCode">{}</button>
            <textarea accesskey="a" th:field="*{answer}" class="form-control z-depth-1" id="odp"  rows="4"></textarea>
        </div>
        <div th:class="form-group">
            <label th:class="control-label">Tagi</label>
            <input data-toggle="tooltip" autocomplete="off" title="separatorem tagu jest spacja" accesskey="t" th:class="form-control" type="text" name="tagi"/>
        </div>
        <input type="hidden" th:field="*{id}" />
        <!--section-->
        <!--<div th:class="form-group">-->
            <!--<label for="sectionName" th:class="control-label">Nazwa sekcji</label>-->
            <!--<input accesskey="t" th:field="*{sectionName}" th:class="form-control" type="text" id="sectionName"/>-->
        <!--</div>-->
        <div class="form-group" >
            <datalist   id="sectionName">
                <div th:each="sec:${sectionsList}">
                    <option th:text="${sec}"></option>
                </div>
            </datalist>

            <label id="sectionLabel" th:value="*{sectionName}" class="control-label">Nazwa sekcji <input class="form-control" th:step="1" id="movie" list="sectionName" th:field="*{sectionName}" /></label>
        </div>

        <!--notion-->
        <div class="form-check" >
            <input class="form-check-input" type="checkbox" value="true" th:field="*{notion}" id="reversed" checked>
            <label class="form-check-label" for="reversed" >
                notatka
            </label>
            <img style="padding-left: 7%" src="/img/tip.png" data-toggle="tooltip"  title="Podczas powtórzenia bedzie pokazywana tylko odpowiedz. Zamiast opcji 'Umiem' i
'nie umiem' bedzie opcja 'następne' ">

        </div>


        <div th:class="form-group">
            <label for="mediaPytania">pytanie</label>
            <input class="question" type="file" id="mediaPytania" name="ans" multiple>
        </div>


        <h3>Audio/img/video</h3>
        <div th:class="form-group">
            <label for="mediaOdpowiedz">odpowiedz</label>
            <input type="file" id="mediaOdpowiedz" name="odp" multiple>
        </div>



        <div th:class="row" style="text-align: center;margin-top: 20px">
            <input accesskey="s" th:required="required"  th:class="btn-default" type="submit" value="dodaj pytanie"/>
        </div>




    </form>
    <div th:class="row" style="text-align: center;margin-top: 20px">
        <a th:href="@{/training}">wróć do wyboru powtórzeń</a>
    </div>
    <div th:class="row" style="text-align: center;margin:5px;position: fixed;right: 0;bottom: 0">
        <a th:href="@{/organise}">Zarządzaj pytaniami</a>
    </div>
</div>
<script th:src="@{/scripts/questionScript.js}"></script>
<script th:src="@{/scripts/surroundingTools.js}"></script>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>