<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Julian</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleMenu.css}" />
    <link rel="stylesheet" th:href="@{/css/darkMode.css}" type="text/css">
</head>
<body>

<p style="font-weight: bold">zalogowany jako:<span th:text="${user}"></span></p>
<div th:class="container" style="margin-top: 10%">


<table th:class="table" border="1" style="width: 30%" >
    <caption style="text-align: center;font-weight: bold;font-size: 25px;margin-bottom: 10%">MENU EDYCJI</caption>
    <tr th:if="${puste==false}">
        <td>
            <a  th:href="@{/pytanieAdd}">DODAJ PYTANIA</a>
        </td>
    </tr>
    <tr>
        <td>
            <a th:href="@{/edit}">EDYTUJ POWTÓRZENIE</a>
        </td>
    </tr>
    <tr>
        <td>
            <a  th:href="@{/dropPow}">USUŃ POWTÓRZENIE</a>
        </td>
    </tr>


</table>
    <div th:class="row" style="text-align: center">
        <a th:href="@{/pokarzMenu}">wroć do menu głównego</a>
    </div>
</div>
</body>
</html>