<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Getting started serving web content</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <style>
        p span
        {
            color: black;
        }
        #odpowiedz
        {
            color: green;
        }
        #mojaOdp
        {
            color: darkgoldenrod;
        }
    </style>

</head>
<body>
<h1 style="text-align: center;margin-top:25%">Puste Powtorzenie</h1>

<p th:text="${nazwa}" style="text-align: center;font-weight: bold"></p>
<p style="text-align: center;font-weight: bold">Sugerowany numer nastepnego:<span style="color: cornflowerblue" th:text="${sugerowanyNumer}" /></p>
<div class="container" style="text-align: center;font-size: 25px">


    <div  th:class="form-group">
        <a style="margin-right: 20px" th:href="${'/robPowtorzeniePodsumowaniePustego?zal=1'}">Umiem</a>
        <a style="margin-right: 20px" th:href="${'/robPowtorzeniePodsumowaniePustego?zal=0'}">Nie Umiem</a>
        <a th:href="${'/robPowtorzeniePodsumowaniePustego?zal=2'}">usun powtorzenie</a>
    </div>

</div>
</body>
</html>