<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Błąd</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/darkMode.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/hello.css}" type="text/css">
</head>
<body>
<div class="container">
    <h1>Przepraszamy, brak podanej strony</h1>
    <a style="text-align: center;" href="/pokarzMenu">Wróć do menu</a>

</div>
</body>
</html>