<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Julian</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>


    <link rel="stylesheet" th:href="@{/css/darkMode.css}" type="text/css">



</head>
<body>
<h1 style="text-align: center">Logowanie</h1>
<div class="container">
<form th:action="@{/login}" method="POST"  class="form-horizontal">
    <div class="form-group">
        <label for="log">Login</label>
        <input name="username" id="log" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="pas">Hasło</label>
        <input name="password"  class="form-control" id="pas" type="password">
    </div>
    <p style="color:red" th:if="${error}">Uwaga błędne dane, spróbuj ponownie</p>
    <div style="text-align: center">
    <input  type="submit" class="btn btn-primary" value="Zatwierdź">
    </div>
</form>
    <a href="/rejestruj">Rejestracja</a>
</div>
</body>
