<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Getting started serving web content</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<style>
    table tr td
    {
        text-align: center;
        size: 200px;
    }
    table tr td:hover
    {
        background-color: antiquewhite;
    }
    table
    {
        margin-left: 30%;
        margin-right:30% ;
    }

    p span
    {
        font-weight: normal;
        color: cornflowerblue;
    }

</style>


</head>
<body>
<p style="font-weight: bold">zalogowany jako:<span th:text="${nazwaUzytkownika}"></span></p>
<div th:class="container">

    <table th:class="table" border="1" style="width: 30%" >
        <caption style="text-align: center;font-weight: bold;font-size: 25px">GłÓWNE MENU</caption>
        <tr>
            <td><a th:href="@{/dodaniePowtorzenia}">Dodaj Powtorzenie</a></td>
        </tr>
        <tr>
            <td><a th:href="@{/pokarzPowtorzenia}">Powtarzaj</a></td>
        </tr>
        <tr>
            <td><a th:href="@{/training}">Ucz sie</a></td>
        </tr>
        <tr>
            <td><a th:href="@{/rejestruj}">Zarejestruj</a></td>
        </tr>
        <tr>
            <td><a th:href="@{/login}">Login</a></td>
        </tr>
    </table>
</div>
</body>
</html>