<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Julian</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/mediaStyle.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/pre.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/darkMode.css}" type="text/css">
    <style>
        p span
        {
            color: black;
        }
        #odpowiedz
        {
            color: green;
        }
        #mojaOdp
        {
            color: darkgoldenrod;
        }
        #arch{
            color: gold;
        }

    </style>

</head>
<body>
<a id="arch" th:href="${'/robPowtorzeniePodsumowanie?zal=arch'}">Archiwizuj</a>
<h1 style="text-align: center;margin-top:25%">Podsumowanie:</h1>
<div class="container" style="text-align: center;font-size: 25px">
    <div>
        <p id="odpowiedz">poprawna odpowiedz:</p>
        <p class="Odp answers propAnswer" th:text="${pytanie.answer}"></p>
<!--        <pre class="Odp answers propAnswer" th:text="${pytanie.answer}"></pre>-->

    </div>

    <section th:each="a:${mediaImg}">
        <img th:src="${a.getPath()}">
    </section>

    <section th:each="z:${mediaAudio}">
        <audio th:src="${z.getPath()}" controls></audio>
    </section>


    <section th:each="k:${mediaVideo}">
        <video th:src="${k.getPath()}" controls></video>
    </section>

    <div>
        <p>twoja odpowiedz:</p>
        <pre class="Odp" th:text="${pytanie.question}"></pre>
    </div>
<form th:action="@{/cwiczPodsumowanie}" th:object="${pytanie}"  class="form-horizontal" method="post">
    <div th:if="${isTraining}==false" th:class="form-group">
        <input th:formaction="@{/robPowtorzeniePodsumowanie}"  style="margin-right: 20px" type="submit" name="zal" value="Umiem">
        <input th:formaction="@{/robPowtorzeniePodsumowanie}" type="submit"  name="zal" value="Nie Umiem">
    </div>

    <div th:if="${isTraining}" th:class="form-group">

        <div class="form-check" >
            <input class="form-check-input" th:field="*{problem}" type="checkbox" name="prob" id="pus">
            <label class="form-check-label" for="pus">
                problemy
            </label>
        </div>
        <input th:formaction="@{/cwiczPodsumowanie}"  style="margin-right: 20px" type="submit" name="zal" value="Umiem">
        <input th:formaction="@{/cwiczPodsumowanie}" type="submit"  name="zal" value="Nie Umiem">
    </div>
</form>
</div>
<script th:src="@{/scripts/deteremineAnswerTagName.js}"></script>
<script th:src="@{/scripts/betterPreLooks.js}"></script>
<script th:src="@{/scripts/listFormat.js}"></script>

</body>
</html>