<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Julian</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <style>
        p span
        {
            color: black;
        }
        #odpowiedz
        {
            color: green;
        }
        #mojaOdp
        {
            color: darkgoldenrod;
        }
    </style>

</head>
<body>
<h1 style="text-align: center;margin-top:25%">Podsumowanie:</h1>
<div class="container" style="text-align: center;font-size: 25px">
    <div>
        <p id="odpowiedz">poprawna odpowiedz:<span th:text="${pytanie.answer}"  /></p>
        <p id="mojaOdp">twoja odpowiedz:<span th:text="${pytanie.question}"  /></p>
    </div>

    <section th:each="a:${mediaImg}">
        <img th:src="${a.getPath()}">
    </section>

    <section th:each="z:${mediaAudio}">
        <audio th:src="${z.getPath()}" controls></audio>
    </section>


    <section th:each="k:${mediaVideo}">
        <video th:src="${k.getPath()}" controls></video>
    </section>
    <div th:if="${isTraining}==false" th:class="form-group">
        <a style="margin-right: 20px" th:href="${'/robPowtorzeniePodsumowanie?zal=1'}">Umiem</a>
        <a th:href="${'/robPowtorzeniePodsumowanie?zal=0'}">Nie Umiem</a>
    </div>
    <div th:if="${isTraining}" th:class="form-group">
        <a style="margin-right: 20px" th:href="${'/cwiczPodsumowanie?zal=1'}">Umiem</a>
        <a th:href="${'/cwiczPodsumowanie?zal=0'}">Nie Umiem</a>
    </div>
</div>
</body>
</html>