<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Getting started serving web content</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>


</head>
<body>
<h2 style="text-align: center;margin-top:25%">Podsumowanie:</h2>
<div class="container" style="text-align: center;font-size: 25px">
    <div>
        <p>poprawna odpowiedz:<span th:text="${pytanie.answer}"  /></p>
        <p>twoja odpowiedz:<span th:text="${pytanie.question}"  /></p>
    </div>

    <div th:class="form-group">
        <a style="margin-right: 20px" th:href="${'/robPowtorzeniePodsumowanie?zal=1'}">Umiem</a>
        <a th:href="${'/robPowtorzeniePodsumowanie?zal=0'}">Nie Umiem</a>
    </div>
</div>
</body>
</html>