<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Julian</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/darkMode.css}" type="text/css">
    <style>
        .numer
        {
         color: cornflowerblue;
            font-weight: normal;
        }
        body{
          text-align: center;


        }
        p{


            font-weight: bold;
            font-size: larger;
        }
        span
        {
           margin-left: 20px;
        }
        #glowny
        {
            margin-top: 20%;
        }

    </style>
</head>
<body>

<div id="glowny" class="container">

    <h1  style="margin-bottom: 5%">Podsumowanie</h1>
    <p>Nazwa powtorzenia:<span class="numer" th:text="${nowePow.getNazwa()}" /></p>
    <p >numer<span class="numer"  th:text="${nowePow.getNumer()}" /></p>
    <a th:href="@{/pokarzMenu}">wróć do menu głównego</a>

</div>
</body>
</html>