<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Julian</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <style>

        .pozostalePow
        {
            color: cornflowerblue;
            font-weight: bold;
            font-size: 180%;
        }
        .problem
        {
            background-color: red;
        }
        .problem,.hasProblem a
        {

            font-weight: bold;
        }

        .last
        {
            background-color: greenyellow;
        }
        .lastProblem
        {
            background-color: greenyellow;

            border-bottom: solid;
            border-bottom-color: red;

        }
        td,th
        {
            text-align: center;
        }

        .hasProblem
        {
            background-color: lightpink;
        }
    </style>
    <link rel="stylesheet" type="text/css" th:href="@{/css/colorsRepeteTrainning.css}">
</head>
<body>
<div th:class="row" style="text-align: center;margin:5px;float: right">
    <a th:href="@{/pokarzMenu}">wroć do menu głównego</a>
</div>

<p style="font-weight: bold">zalogowany jako:<span style="font-weight: normal;color: cornflowerblue;" th:text="${nazwaUzytkownika}"></span></p>
<p th:if="${powtorzono}" style="color: green">Powtorzenie zakonczone!</p>


<div style="text-align: center;">
    <p class="pozostalePow">Do nauczenia:<span th:class="${classResolver.resolveClass(powtorzenia.size())}" th:text="${powtorzenia.size()}" /></p>

</div>
<div th:class="container">

    <table th:class="table" >

        <tr>
            <th>nazwa</th>
            <th>numer</th>
            <th>Po ilu dniach</th>
            <th>Data notatek</th>
            <th>start</th>
            <th>Edycja</th>
            <th>byl problem</th>

        </tr>
        <tr  th:each="pow:${powtorzenia}">
            <div th:if="${pow.isProblems() && !pow.equals(lastRepet)}">
                <td class="problem" th:text="${pow.getNazwa()}"></td>
                <td class="problem" th:text="${pow.getNumer()}"></td>
                <td class="problem" th:text="${pow.getNastepne()}"></td>
                <td class="problem" th:text="${pow.getUtworzenie()}"></td>
                <td th:if="${pow.isEmpty()==false}" class="problem" ><a th:href="${'/menuTraining?id='+pow.getNazwa()+'&pk='+pow.getNumer()}">cwicz</a></td>
                <td th:if="${pow.isEmpty()}" class="problem" >-</td>
                <td class="problem" ><a th:href="${'/menuEdycji?id='+pow.getNazwa()+'&pk='+pow.getNumer()+'&source=training'}">edytuj</a></td>
                <td class="problem" ><a th:href="${'/zaznacz?id='+pow.getNazwa()+'&pk='+pow.getNumer()+'&pow='+powtorzono}">odzaznacz</a></td>



            </div>
            <div th:if="${pow.isProblems()!= true && !pow.equals(lastRepet)}">
                <td class="" th:classappend="${pytService.hasPowtorzenieProblems(pow)}?hasProblem" th:text="${pow.getNazwa()}"></td>
                <td class="" th:classappend="${pytService.hasPowtorzenieProblems(pow)}?hasProblem"  th:text="${pow.getNumer()}"></td>
                <td class="" th:classappend="${pytService.hasPowtorzenieProblems(pow)}?hasProblem"  th:text="${pow.getNastepne()}"></td>
                <td class="" th:classappend="${pytService.hasPowtorzenieProblems(pow)}?hasProblem"  th:text="${pow.getUtworzenie()}"></td>
                <td class="" th:classappend="${pytService.hasPowtorzenieProblems(pow)}?hasProblem"  th:if="${pow.isEmpty()==false}"><a th:href="${'/menuTraining?id='+pow.getNazwa()+'&pk='+pow.getNumer()}">cwicz</a></td>
                <td class="" th:classappend="${pytService.hasPowtorzenieProblems(pow)}?hasProblem"  th:if="${pow.isEmpty()}">-</td>
                <td class="" th:classappend="${pytService.hasPowtorzenieProblems(pow)}?hasProblem" ><a th:href="${'/menuEdycji?id='+pow.getNazwa()+'&pk='+pow.getNumer()+'&source=training'}">edytuj</a></td>
                <td class="" th:classappend="${pytService.hasPowtorzenieProblems(pow)}?hasProblem" ><a th:href="${'/zaznacz?id='+pow.getNazwa()+'&pk='+pow.getNumer()+'&pow='+powtorzono}">zaznacz</a></td>

            </div>
            <div th:if="${pow.equals(lastRepet)}">
                <td class="" th:classappend="${pow.isProblems()}?lastProblem:last" th:text="${pow.getNazwa()}"></td>
                <td class="" th:classappend="${pow.isProblems()}?lastProblem:last"  th:text="${pow.getNumer()}"></td>
                <td class="" th:classappend="${pow.isProblems()}?lastProblem:last"  th:text="${pow.getNastepne()}"></td>
                <td class="" th:classappend="${pow.isProblems()}?lastProblem:last"  th:text="${pow.getUtworzenie()}"></td>
                <td class="" th:classappend="${pow.isProblems()}?lastProblem:last"  th:if="${pow.isEmpty()==false}"><a th:href="${'/menuTraining?id='+pow.getNazwa()+'&pk='+pow.getNumer()}">cwicz</a></td>
                <td class="" th:classappend="${pow.isProblems()}?lastProblem:last"  th:if="${pow.isEmpty()}">-</td>
                <td class="" th:classappend="${pow.isProblems()}?lastProblem:last" ><a th:href="${'/menuEdycji?id='+pow.getNazwa()+'&pk='+pow.getNumer()+'&source=training'}">edytuj</a></td>
                <td class="" th:classappend="${pow.isProblems()}?lastProblem:last" ><a th:href="${'/zaznacz?id='+pow.getNazwa()+'&pk='+pow.getNumer()+'&pow='+powtorzono}">zaznacz</a></td>

            </div>
        </tr>


    </table>
</div>
</body>
</html>