<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Julian</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/mediaStyle.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/pytanieStyle.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/darkMode.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/buttons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/pre.css}" type="text/css">

</head>
<body>
<a id="questionChange" th:href="${'/zmianaPytania?id='+pyt.getId() }">zmien pytanie</a>
<a id="drop" th:href="${'/dropPytanie?id='+pyt.getId() }">usuń pytanie</a>
<p class="blod">pozostało:<span id="num" style="color: cornflowerblue" th:text="${questionsNumber}"></span></p>
<header>
    <h1 id="repetitionName" th:text="${pyt.getPowtorzenie().getNazwa()+' '+pyt.getPowtorzenie().getNumer()}"></h1>
    <h3>Sekcja:<span id="section" th:text="${pyt.getSectionName()}"></span></h3>
    <h5 >Data notatek:<span th:text="${pyt.powtorzenie.getUtworzenie()}"></span></h5>
</header>
<div id="questionPage" class="container">



    <h2 class="textPytanie">Pytanie:</h2>

    <div id="pytanieDiv" >
        <p><span id="question" th:text="${pyt.question}"></span></p>
    </div>
    <div id="questionsMedia">
        <section th:each="a:${mediaImg}">
            <img th:src="${a.getPath()}">
        </section>

        <section th:each="z:${mediaAudio}">
            <audio th:src="${z.getPath()}" controls></audio>
        </section>


        <section th:each="k:${mediaVideo}">
            <video th:src="${k.getPath()}" controls></video>
        </section>
    </div>

    <form id="formQuestion" class="form-horizontal" th:action="@{/cwiczOdp}" th:method="post" th:object="${odp}">

        <div class="form-group shadow-textarea">
            <label th:class="control-label" for="odp">Odpowiedz</label>
            <textarea accesskey="a" th:field="*{question}" class="form-control z-depth-1" id="odp"  rows="4"></textarea>
        </div>

        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{answer}" />
        <div th:class="row" style="text-align: center;margin-top: 20px">
            <button id="check" class="btn btn-yellow btn-border-rev" type="submit" value="sprawdz odpowiedz">Sprawdz odpowiedz</button>
        </div>
        <div th:class="row" style="text-align: center;margin-top: 20px">
            <a id="leave" th:href="@{/training}">wyjdz z potworzenia</a>
        </div>
    </form>
</div>


<div id="answerPage" class="container" style="text-align: center;font-size: 25px">
    <div>
        <p style="margin-top: 10%; color: chartreuse">Poprawna odpowiedz:</p>
        <div>

            <div  class="Odp answers propAnswer" ></div>
        </div>

    </div>
    <div id="answerMedia">
        <section th:each="a:${mediaImg}">
            <img th:src="${a.getPath()}">
        </section>

        <section th:each="z:${mediaAudio}">
            <audio th:src="${z.getPath()}" controls></audio>
        </section>


        <section th:each="k:${mediaVideo}">
            <video th:src="${k.getPath()}" controls></video>
        </section>
    </div>

    <div>
        <p style="color:blueviolet;">Twoja odpowiedz:</p>
        <div>
            <pre id="userAnswer" class="answers"></pre>
        </div>
    </div>
    <form th:action="@{/cwiczPodsumowanie}"   class="form-horizontal" method="post">


        <div  th:class="form-group">

            <div class="form-check" >
                <input class="form-check-input"  type="checkbox" name="prob" id="pus">
                <label class="form-check-label" for="pus">
                    problemy
                </label>
            </div>
            <button type="submit" class="btn btn-green btn-border-rev result" th:formaction="@{/cwiczPodsumowanie}"  style="margin-right: 20px" name="zal" value="Umiem">✔</button>
            <button type="submit" class="btn btn-red btn-border-rev result" th:formaction="@{/cwiczPodsumowanie}" style="margin-left: 20px" name="zal" value="Nie Umiem">✖</button>
        </div>
    </form>
</div>
<a id="back" href="#" class="previous">&laquo; Pytanie </a>
<script th:src="@{/scripts/porcessRepetition.js}"></script>
<script th:src="@{/scripts/deteremineAnswerTagName.js}"></script>
<script th:src="@{/scripts/betterPreLooks.js}"></script>
<script th:src="@{/scripts/listFormat.js}"></script>
<script th:src="@{/scripts/accentsConverter.js}"></script>
<script>
    $(document).keyup(function(e) {

        convertInput($("#odp"))

    });
</script>
</body>
</html>