<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Julian</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/mediaStyle.css}" type="text/css">

</head>
<body>
<a th:href="${'/zmianaPytania?id='+pyt.getId() }">zmien pytanie</a>
<h2 style="text-align: center;margin-top:25%">Pytanie:</h2>
<div class="container">
    <div th:class="row" style="text-align: center;">
        <p style="font-size: 50px"><span th:text="${pyt.question}"></span></p>
    </div>


    <section th:each="a:${mediaImg}">
        <img th:src="${a.getPath()}">
    </section>

    <section th:each="z:${mediaAudio}">
        <audio th:src="${z.getPath()}" controls></audio>
    </section>


    <section th:each="k:${mediaVideo}">
        <video th:src="${k.getPath()}" controls></video>
    </section>

    <form class="form-horizontal" th:action="@{/robPowtorzenie}" th:method="post" th:object="${odp}">

        <div th:class="form-group">
            <label th:class="control-label">Odpowiedz:</label>
            <input th:autocomplete="off" th:class="form-control"  th:field="*{question}" />
        </div>

        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{answer}" />
        <div th:class="row" style="text-align: center;margin-top: 20px">
            <input th:class="btn-default" type="submit" value="sprawdz odpowiedz"/>
        </div>
        <div th:class="row" style="text-align: center;margin-top: 20px">
            <a th:href="@{/pokarzMenu}">wroć do menu głównego</a>
        </div>
    </form>
</div>
</body>
</html>