<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Julian</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>


</head>
<body>
<h2 style="text-align: center;margin-bottom: 60px">Edycja Pytania</h2>
<div class="container">
    <form class="form-horizontal" th:action="@{/zmianaPytania}" th:method="post" th:object="${pytanie}">

        <div th:class="form-group">
            <label th:class="control-label">Pytanie</label>
            <input th:class="form-control" type="text" th:field="*{question}"/>
        </div>
        <div th:class="form-group">
            <label th:class="control-label">Odpowiedz</label>
            <input th:class="form-control" type="text" th:field="*{answer}"/>
        </div>
        <input type="hidden" th:field="*{id}" />


        <div th:class="row"  style="text-align: center;margin-top: 20px">
            <input th:required="required"  th:class="btn-default" type="submit" value="edycja pytania"/>
        </div>

        <div th:class="row" style="text-align: center;margin-top: 20px">
            <a th:href="@{/pokarzMenu}">wroć do menu głównego</a>
        </div>

    </form>
</div>
</body>
</html>