<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Getting started serving web content</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>


</head>
<body>
<p style="color: red">Podane powtorzenie juz istnieje!</p>
<h2 style="text-align: center;margin-bottom: 60px">REJESTRACJA POWTORZENIA</h2>
<div class="container">
    <form class="form-horizontal" th:action="@{/dodaniePowtorzenia}" th:method="post" th:object="${powtorzenie}">


        <div class="form-group" style="text-align: center">
            <datalist id="opcje">
                <option value="slowka">
            </datalist>


            <label class="control-label">nazwa <input id="movie" list="opcje" th:field="*{nazwa}" /></label>
        </div>

        <div th:class="form-group">
            <label>data powtorzenia:<input th:field="*{utworzenie}" type="date"></label>
            <label class="control-label">Po ilu dniach nastepne powtorzenie</label>
            <select th:field="*{nastepne}">
                <option th:value="1">1</option>
                <option th:value="3">3</option>
                <option th:value="10">10</option>
                <option th:value="30">30</option>
                <option th:value="90">90</option>
                <option th:value="180">180</option>
                <option th:value="360">360</option>
            </select>
        </div>
        <div th:class="row" style="text-align: center;margin-top: 20px">
            <input th:class="btn-default" type="submit" value="dodaj powtorzenie"/>
        </div>
    </form>
</div>
</body>
</html>