<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Julian</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/darkMode.css}" type="text/css">

</head>
<body>
<p id="sucessAdd" th:if="${sucessAdd}" style="color: green">Dodano liste pytań!</p>
<h2 style="text-align: center;margin-bottom: 60px">REJESTRACJA PYTAŃ</h2>
<div class="container">
    <form class="form-horizontal" th:action="@{/addQuestionsFromList}" th:method="post" enctype="multipart/form-data"  th:object="${questionsList}">

        <div class="form-group shadow-textarea">
            <label for="odp">Lista pytań</label>
            <textarea accesskey="a" th:field="*{answer}" class="form-control z-depth-1" id="odp"  rows="4"></textarea>
        </div>


        <div th:class="row" style="text-align: center;margin-top: 20px">
            <input accesskey="s" th:class="btn-default" type="submit" value="dodaj pytania"/>
        </div>


        <div th:class="row" style="text-align: center;margin-top: 20px">
            <a th:href="@{/pokarzMenu}">wroć do menu głównego</a>
        </div>

    </form>
</div>
<script th:src="@{/scripts/questionScript.js}"></script>
<script>
    $('#sucessAdd').delay(5000).fadeOut();
</script>
</body>
</html>